p {
  line-height: 1.5;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  page-break-after: avoid;
}

.figure {
  padding-top: 1mm;
  padding-left: 1mm;
  padding-right: 1mm;
  margin: 1mm;
  display: inline-block;
  page-break-inside: avoid;
  background: #f4f4f4;
  border: 0.4mm solid #555;
}

.figure .caption {
  display: block;
  font-style: italic;
  margin: 1mm;
}

.subfigure {
  display: inline-block;
}

.hljs {
  padding: 0cm 1cm;
  display: block;
}
